$greenB: #35a353;
$redB: #e63946;
$yellowB: #e9c46a;
$purpleB: rgb(155, 49, 216);
$white: #fff;
$dark: #333;
$light: #f8edeb;
$darkLight: #ffd7ba;
$lightGray: silver;
$dark-border: 1px solid $dark;
$extraDark: #111;
$lightDark: #555;
$linkColor: #79addc;
$colors: red yellow green cyan purple;
